* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
}


.main {
    height: 100vh;
    background-color:#F8D7D2;
}

img {
    margin-left: 11%;
}

.left {
    width: fit-content;
}

.right {
    width: fit-content;
}

p {
    width: 40%;
}
.e404{
    font-size: 10rem;
    text-shadow: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


@media (max-width: 880px) {
    .container {
        display: block;
    }
}